@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #6e57e0;
    --title-color: #242329;
    --text-color: #6d6a7c;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.728rem;
    --h2-font-size: 1.44rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.833rem;
    --smaller-font-size: 0.694rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Rules for sizing the icon. */
.material-icons {
    color: var(--first-color);
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

h1, h2 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover,
button:hover,
.card:hover {
    cursor: pointer;
}


/* Reusable classes */
.container {
    padding: 1.5rem;
}

.title {
margin-bottom: var(--mb-2);
text-align: center;
}

.subtitle {
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
}

/* Header */

header {
    background-color: var(--first-color);

}

.header__container {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



.header__logo {
    flex-grow: 0;
    width: 3rem;
    height: auto;
}

/* Search bar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.search__container {
    width: 100%;
    max-width: 50em;
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.search__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__container p {
    margin-bottom: var(--mb-2);
    text-align: center;
}

form {
    width: 100%;
}

input {
    width: 100%;
    min-width: 15rem;
    padding: 2rem 2rem;
    border-radius: 2.5rem;
    border: 0.1rem solid #e2e2e2;
    font-size: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Poppins', sans-serif;
}



.search__button {
    position: absolute;
    bottom: 1.5rem;
    right:0.5rem;
    width: 5rem;
    border: none;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0);
}

/* Header searchbar */

.header__searchbar input {
    padding: 1rem 1.5rem;
}

.header__searchbar .search__button {
    bottom: 0.5rem;
    right: 0;
}

.header__searchbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


.tmdb__logo {
    width: 10rem;
    height: auto;
    flex-grow: 0;
}


/* Results */
.results__container,
.suggest__container {
    width: 100%;
    max-width: 60em;
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.results__content,
.suggest__content {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.results__card,
.suggest__card {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
}

@media screen and (min-width: 40em) {
    .results__card,
    .suggest__card  {
        max-width: 18em;
    }
}

.results__card img,
.suggest__card img {
    max-width: 6rem;
    height: auto;
}

.movie__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.movie__description {
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* Error */
.error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif img {
    width: 100%;
}

/* Offline */

.display-none {
    display: none;
}