@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;

    /* Colors */
    --first-color: #6e57e0;
    --title-color: #242329;
    --text-color: #6d6a7c;

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.8rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Rules for sizing the icons. */
.material-icons {
    color: var(--first-color);
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

h1, h2 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover,
button:hover,
.card:hover {
    cursor: pointer;
}


/* Reusable classes */
.screen-reader-text {
    display: none;
}

.container {
    padding: 1.5rem;
}

.title {
margin-bottom: 2rem;
text-align: center;
}

.subtitle {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.block {
    display: block;
}

/* Header */

header {
    background-color: var(--first-color);
    position: sticky;
    top: 0;
}

.header__container {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


@media screen and (min-width: 40em) {
    .header__container {
        justify-content: space-between;
    }
}

.tmdb__logo {
    width: 10rem;
    height: auto;
    flex-grow: 0;
}

.header__logo {
    flex-grow: 0;
    width: 8rem;
    height: auto;
}


/* Search bar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.search__container {
    width: 100%;
    max-width: 50em;
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.search__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__container p {
    margin-bottom: 2rem;
    text-align: center;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    min-width: 15rem;
    padding: 2rem 2rem;
    border-radius: 2.5rem;
    border: 0.1rem solid #e2e2e2;
    font-size: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Poppins', sans-serif;
}

input:active,
input:focus{
    outline: none;
    border: 0.2rem solid var(--first-color)
}

.search__button {
    position: absolute;
    bottom: 1.5rem;
    right:0.5rem;
    width: 5rem;
    border: none;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0);
}

/* Header searchbar */

.header__searchbar input {
    padding: 1rem 1.5rem;
}

.header__searchbar .search__button {
    bottom: 0.5rem;
    right: 0;
}

.header__searchbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


/* Results */
.results__container {
    width: 100%;
    max-width: 70em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.results__content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}

.results__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    text-align: left;
}

.results__card:hover {
    /* transform: scale(1.05); */
    cursor: pointer;
    box-shadow: rgba(110, 87, 224, 0.4) 0px 7px 29px 0px;
}

.results__card h3 {
    text-align: left;
}

@media screen and (min-width: 40em) {
    .results__card {
        max-width: 20em;
    }
}

.results__card img {
    max-height: 10rem;

}

.movie__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.movie__info-text {
    padding-left: 1rem;
}

.movie__description {
    margin-top: 1rem;
}

/* Past Searches */

.pastsearches__container {
    max-width: 30em;
    margin: 0 auto;
}

.pastsearches__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.searchword {
    color: var(--first-color);
    cursor: pointer;
}

.searchword:hover {
    transform: scale(1.05);
}

/* Error */
.error__container {
    padding-top: 1.5rem;
    padding-bottom: 0;
    max-width: 50em;
    text-align: center;
    margin: 0 auto;
}

.gif img {
    width: 100%;
    max-width: 15rem;
}

/* Offline */

.display-none {
    display: none;
}

/* Footer */

footer {
    background-color: var(--first-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: var(--smaller-font-size);
    text-align: center;
}